<head><link rel="stylesheet" href="css/footer.css"></head>
<footer>
    <div class="content">
      <div class="left box">
        <div class="upper">
          <div class="topic">About us</div>
          <p>DsayDSA is a free, easy to use website which provide free content about <strong>Data Structures and Algorithms</strong>. We make easy to understandable content so every one can understand it properly. Moreover we provide free source code of every program related to DSA</p>
        </div>
        <div class="lower">
          <div class="topic">Contact us</div>
          <div class="phone">
            <a href="#"><i class="fas fa-phone-volume"></i>+92 326 6091541</a>
          </div>
          <div class="email">
            <a href="mailto:zainansarp41@gmail.com"><i class="fas fa-envelope"></i>zainansarp41@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="middle box">
        <div class="topic">Our Services</div>
        <div><a href="#">Web Design, Development</a></div>
        <div><a href="#">Web UX Design, Reasearch</a></div>
        <div><a href="#">Web User Interface Design</a></div>
        <div><a href="#">Theme Development, Design</a></div>
        <div><a href="#">Mobile Application Design</a></div>
        <div><a href="#">Wire raming & Prototyping</a></div>
      </div>
      <div class="right box">
        <div class="topic">Subscribe us</div>
        <form action="#">
          <div class="media-icons">
            <a href="https://www.facebook.com/profile.php?id=100016723301677"><i class="fab fa-facebook-f"></i></a>
            <a href="https://instagram.com/zain.ansari439?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram"></i></a>
            <a href="https://github.com/zainansar41/"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/zain-ansari-ab5b0522b"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </form>
      </div>
    </div>
    <div class="bottom">
      <p>Copyright © 2020 <a href="https://zainansar41.github.io/portfolio/">Zain Ul Abidin</a> All rights reserved</p>
    </div>
  </footer>
 
 </body>
 </html>