<%- include('./partials/header.ejs')%>
<%- include('./partials/navbar.ejs')%>

<head>
    <link rel="stylesheet" href="css/index.css">
</head>

<div class="forPc">
    <h1 class="heading">Data Structures and Algorithms</h1>
    <div class="forline"><div class="line"></div></div>

    <div class="cover">
        <span class="intro">
            <div class="contentHead">What is DSA</div>
            <p>Data Structures and Algorithms (DSA) applies to all areas of software development. DSA is a component of the software development process. Not limited to a single programming language. Programming languages ​​evolve or die out over time, but DSA is built into all of them.</p>
            <a href="/viewCon/">Start Now</a>
        </span>
        <span class="joinNow">
            <a href="/login">Join Now</a>
            <p>We provide premium content with no subscription Charges. It is completely Free. we provide Free source code of almost every topic. By joining us, you can ask question about any topics any time and we will response your query via email.
            </p>
        </span>
    </div>

    <h1 class="topics">Some topics</h1>
    <div class="boxes">
        <div class="box">
            <h3>Linked List</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quo iste doloremque, in, commodi maxime voluptate nihil debitis ex ratione, adipisci ab aliquid consectetur deserunt ad. Ut, voluptas deserunt quisquam repudiandae libero, officiis minus molestias autem fugiat in impedit vero fugit laborum quam magnam illo tenetur soluta ratione. Accusantium, eum!</p>
        </div>
        <div class="box">
            <h3>Linked List</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quo iste doloremque, in, commodi maxime voluptate nihil debitis ex ratione, adipisci ab aliquid consectetur deserunt ad. Ut, voluptas deserunt quisquam repudiandae libero, officiis minus molestias autem fugiat in impedit vero fugit laborum quam magnam illo tenetur soluta ratione. Accusantium, eum!</p>
        </div>
        <div class="box">
            <h3>Linked List</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quo iste doloremque, in, commodi maxime voluptate nihil debitis ex ratione, adipisci ab aliquid consectetur deserunt ad. Ut, voluptas deserunt quisquam repudiandae libero, officiis minus molestias autem fugiat in impedit vero fugit laborum quam magnam illo tenetur soluta ratione. Accusantium, eum!</p>
        </div>
    </div>
    <div class="practice">
        <h2>Start practicing</h2>
        <p>queston with solution and guide. Collection of data structures and algorithms problems on various topics like dynamic programming, linked lists, graphs etc.</p>
        <a href="/start">See Questions</a>
    </div>
    <div class="choose">
        <h1 class="heading">why DsayDSA?</h1>
        <div class="ch-content">
            <div class="con-box">
                <h3>Simplicity</h3>
                <p>Not everyone has same ability to understand things.So, we focus on simplicity. Programming lectures and examples written in simple, easy to understandable language for beginners. So, everyone can understand it properly. Thank you!</p>
            </div>
            <div class="con-box">
                <h3>it is Secure</h3>
                <p>Everyone has right that his or her data may not be share to anyone which he or she don't know. We promise you that your data will be encrypted and never be shared to anyone under our Authority</p>
            </div>
            <div class="con-box">
                <h3>Free Content</h3>
                <p>who doesn't like free content. We provide premium content absolutely free. So, students can easily get knowledge about <strong>DSA </strong>whether it is content, images or programs about topics (with source code).</p>
            </div>
        </div>
        <div class="forcontact">
            <div class="forquery">
                <h3>Any doubts</h3>
                <p>If you have any Query about any topic click the button down below and ask us ✌</p>
                <a href="/query">Ask Us</a>
            </div>
            <img src="images/banner.png" alt="">
        </div>
    </div>
</div>
<div class="formob">
    <h1 class="heading">DsayDSA</h1>
    <div class="forline"><div class="line"></div></div>
    <div class="coverMob">
        <span class="intro">
            <div class="contentHead">What is DSA</div>
            <p>Data Structures and Algorithms (DSA) applies to all areas of software development. DSA is a component of the software development process. Not limited to a single programming language. Programming languages ​​evolve or die out over time, but DSA is built into all of them.</p>
            <a href="/viewCon/">Start Now</a>
        </span>
        <span class="joinNow">
            <a href="/login">Join Now</a>
            <p>We provide premium content with no subscription Charges. It is completely Free. we provide Free source code of almost every topic. By joining us, you can ask question about any topics any time and we will response your query via email.
            </p>
        </span>
    </div>
    <div class="chooseMob">
        <h1 class="heading">why DsayDSA?</h1>

        <div class="con-box">
            <h3>Simplicity</h3>
            <p>Not everyone has same ability to understand things.So, we focus on simplicity. Programming lectures and examples written in simple, easy to understandable language for beginners. So, everyone can understand it properly. Thank you!</p>
        </div>
        <div class="con-box">
            <h3>it is Secure</h3>
            <p>Everyone has right that his or her data may not be share to anyone which he or she don't know. We promise you that your data will be encrypted and never be shared to anyone under our Authority</p>
        </div>
        <div class="con-box">
            <h3>Free Content</h3>
            <p>who doesn't like free content. We provide premium content absolutely free. So, students can easily get knowledge about <strong>DSA </strong>whether it is content, images or programs about topics (with source code).</p>
        </div>
    </div>
    <div class="topicsMob">
        <h1>See Some Topics</h1>
        <div class="box">
            <h3>Linked List</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quo iste doloremque, in, commodi maxime voluptate nihil debitis ex ratione, adipisci ab aliquid consectetur deserunt ad. Ut, voluptas deserunt quisquam repudiandae libero, officiis minus molestias autem fugiat in impedit vero fugit laborum quam magnam illo tenetur soluta ratione. Accusantium, eum!</p>
        </div>
        <div class="box">
            <h3>Linked List</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quo iste doloremque, in, commodi maxime voluptate nihil debitis ex ratione, adipisci ab aliquid consectetur deserunt ad. Ut, voluptas deserunt quisquam repudiandae libero, officiis minus molestias autem fugiat in impedit vero fugit laborum quam magnam illo tenetur soluta ratione. Accusantium, eum!</p>
        </div>
        <div class="box">
            <h3>Linked List</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quo iste doloremque, in, commodi maxime voluptate nihil debitis ex ratione, adipisci ab aliquid consectetur deserunt ad. Ut, voluptas deserunt quisquam repudiandae libero, officiis minus molestias autem fugiat in impedit vero fugit laborum quam magnam illo tenetur soluta ratione. Accusantium, eum!</p>
        </div>
        <div class="practice">
            <h2>Start practicing</h2>
            <p>queston with solution and guide. Collection of data structures and algorithms problems on various topics like dynamic programming, linked lists, graphs etc.</p>
            <a href="/start">See Questions</a>
        </div>
    </div>
    
</div>


<!-- <%- include('./partials/footer.ejs')%> -->